{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Global Fonts #}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
    {# Site-wide Navigation Bar #}
            <nav class="navbar navbar-dark navbar-expand-md">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <img id="nav-logo" src="{% static 'images/logosmall.svg' %}" alt="Logo VASFE"></a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Início</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/nucleos">Núcleos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/blog">Desenvolvimento</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contato">Contato</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        {% wagtailuserbar %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>

        {# Footer #}
        <footer id="footer">
            <div class="container">
                <div class="row inline-block-row">
                    <div class="col-6 col-md-8 col-lg-2">
                        <img id="footer-logo" src="{% static 'images/logosmall.svg' %}" alt="Logo VASFE"></a>
                    </div>
                    <div class="col-lg-8 d-none d-lg-block">
                        <div>
                            Universidade Estadual de Maringá (UEM) | Departamento de Engenharia Elétrica <br>  
                            Av. Colombo, 5790 - Jd. Universitário | CEP: 87.020-900, Maringá/PR | F. 3011-4757
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-2 social-media-footer">
                        <a class="social-media" href="https://www.facebook.com/vasfe">
                            <img border="0" alt="Facebook" src="{% static 'images/facebook.svg' %}" width="30" height="30">
                        </a>
                        <a class="social-media" href="https://www.instagram.com/vasfe">
                            <img border="0" alt="Instagram" src="{% static 'images/instagram.svg' %}" width="30" height="30">
                        </a>
                    </div>
                </div>
            </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
