{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% load staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}
{% block body_class %}template-searchresults{% endblock %}

{% block title %}Pesquisa{% endblock %}

{% block content %}
    <div class="gray-block-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <span class="blog-index-title">// Blog de desenvolvimento</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div>
            <h2 class="blog-index-title">Resultados da pesquisa</h2>
            <form action="{% url 'search' %}" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Pesquise aqui" aria-label="Pesquise aqui" aria-describedby="basic-addon2"
                name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                <div class="input-group-append">
                    <button class="btn btn-dark shadow-none" type="submit" value="Search">Pesquisar</button>
                </div>
            </div>
            </form>
            {% if search_results %}
                <ul style="padding: 0rem;">
                    {% for result in search_results %}
                        <li>
                            <h3 class="result-link"><a href="{% pageurl result %}">{{ result }}</a></h3>
                            {{ result.specific.intro|richtext }}
                            <hr/>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="pagination">
                    {% if search_results.has_previous %}
                        <li><a class="pagelink" href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">
                        <i class="fa fa-angle-left"></i></a></li>
                    {% endif %}
                    {% for page_num in search_results.paginator.page_range %}
                        <li> 
                            {% if page_num == search_results.number %}
                                <a class="active-pagelink" href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ page_num }}">{{ page_num }}</a>
                                {% else %}
                                <a class="pagelink" href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ page_num }}">{{ page_num }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    {% if resources.has_next %}
                        <li><a class="pagelink" href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">
                        <i class="fa fa-angle-right"></i></a></li>
                    {% endif %}
                </ul>
                
            {% elif search_query %}
                <p>Nenhum resultado encontrado</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
